# Individual Project 3
## Caitlin Sizemore
### DS 160-01 Spring 2023
### Version 1

In [1]:
import pandas as pd

#### Question 1:

In [2]:
df=pd.read_csv('weather_2012.csv', low_memory=False)

#### Question 2:

In [3]:
df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [4]:
df.tail()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [5]:
df.sample(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
5961,2012-09-05 09:00:00,22.4,18.5,79,15,24.1,100.54,Mostly Cloudy
1351,2012-02-26 07:00:00,-12.1,-17.8,62,22,48.3,102.07,Clear
6385,2012-09-23 01:00:00,12.8,9.6,81,17,25.0,100.46,Mostly Cloudy
8504,2012-12-20 08:00:00,-1.9,-4.6,82,15,24.1,101.91,Cloudy
5320,2012-08-09 16:00:00,22.3,18.7,80,19,19.3,100.89,Rain

#### Question 3:

In [6]:
df.columns

Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
      dtype='object')

#### Question 4:

In [7]:
copy=df.columns
copy

Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
      dtype='object')

In [16]:
df=df.rename(columns={'Date/Time':'date_time', 'Temp (C)':'temp_c', 'Dew Point Temp (C)':'dew_point', 'Rel Hum (%)':'relative_humidity', 'Wind Spd (km/h)':'wind_speed', 'Visibility (km)':'visibility', 'Stn Press (kPa)':'pressure', 'Weather':'weather'})

In [17]:
df.columns

Index(['date_time', 'temp_c', 'dew_point', 'relative_humidity', 'wind_speed',
       'visibility', 'pressure', 'weather'],
      dtype='object')

#### Question 5:

In [18]:
df.describe()

,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

#### Question 6:

In [29]:
df['temp_f']=df['temp_c']*9/5+32

#### Question 7:

In [30]:
move=df.pop('temp_f')
df.insert(1, 'temp_f', move)

In [31]:
df.head()

,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
0,2012-01-01 00:00:00,28.76,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,28.76,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,28.76,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,29.30,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,29.30,-1.5,-3.3,88,7,4.8,101.23,Fog

#### Question 8:

In [32]:
df.dtypes

date_time             object
temp_f               float64
temp_c               float64
dew_point            float64
relative_humidity      int64
wind_speed             int64
visibility           float64
pressure             float64
weather               object
dtype: object

#### Question 9:

In [33]:
df['date_time']=pd.to_datetime(df['date_time'])

In [34]:
df.dtypes

date_time            datetime64[ns]
temp_f                      float64
temp_c                      float64
dew_point                   float64
relative_humidity             int64
wind_speed                    int64
visibility                  float64
pressure                    float64
weather                      object
dtype: object

#### Question 10:

In [35]:
df['weather'].value_counts().head(10)

Mainly Clear     2106
Mostly Cloudy    2069
Cloudy           1728
Clear            1326
Snow              390
Rain              306
Rain Showers      188
Fog               150
Rain,Fog          116
Drizzle,Fog        80
Name: weather, dtype: int64

#### Question 11:

In [38]:
new_df=df.query('temp_f>90 & relative_humidity<50 & dew_point>17 & weather=="Clear"')
new_df

,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
5199,2012-08-04 15:00:00,91.04,32.8,18.8,44,17,24.1,101.39,Clear
5200,2012-08-04 16:00:00,90.50,32.5,18.5,44,15,24.1,101.34,Clear
5201,2012-08-04 17:00:00,90.50,32.5,19.8,47,13,24.1,101.32,Clear

#### Question 12:

In [43]:
new_df['month']=df['date_time'].dt.month

/var/folders/d7/d5792h3s5yq4wcyjjr626k_w0000gn/T/ipykernel_67746/1350652128.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['month']=df['date_time'].dt.month

In [44]:
new_df

,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather,month
5199,2012-08-04 15:00:00,91.04,32.8,18.8,44,17,24.1,101.39,Clear,8
5200,2012-08-04 16:00:00,90.50,32.5,18.5,44,15,24.1,101.34,Clear,8
5201,2012-08-04 17:00:00,90.50,32.5,19.8,47,13,24.1,101.32,Clear,8

#### Question 13:

In [45]:
df.to_csv("weather_2012_new.csv", index=False)

In [47]:
load=pd.read_csv("weather_2012_new.csv", index_col=0)
load

,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
date_time,,,,,,,,
2012-01-01 00:00:00,28.76,-1.8,-3.9,86,4,8.0,101.24,Fog
2012-01-01 01:00:00,28.76,-1.8,-3.7,87,4,8.0,101.24,Fog
2012-01-01 02:00:00,28.76,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
2012-01-01 03:00:00,29.30,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
2012-01-01 04:00:00,29.30,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
2012-12-31 19:00:00,32.18,0.1,-2.7,81,30,9.7,100.13,Snow
2012-12-31 20:00:00,32.36,0.2,-2.4,83,24,9.7,100.03,Snow
2012-12-31 21:00:00,31.10,-0.5,-1.5,93,28,4.8,99.95,Snow
2012-12-31 22:00:00,31.64,-0.2,-1.8,89,28,9.7,99.91,Snow
2012-12-31 23:00:00,32.00,0.0,-2.1,86,30,11.3,99.89,Snow